<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="browser" value="Chrome"/>
		<add key="shorterWait" value="10"/>
		<add key="longerWait" value="60"/>
		<add key="screenshotFilePath" value="C:\Users\Nikku_Verma1\source\repos\MainProject\CommonFramework\Screenshots\screenshot.png"/>
		<add key="extentReportFilePath" value="C:\Users\Nikku_Verma1\source\repos\MainProject\CommonFramework\Reports\"/>
		<add key="applicationURL" value="https://www.saucedemo.com/"/>
		<add key="username" value="standard_user"/>
		<add key="password" value="secret_sauce"/>
		<add key="firstName" value="abc"/>
		<add key="lastName" value="pqr"/>
		<add key="postalCode" value="123456"/>
		<add key="inventoryURl" value="https://www.saucedemo.com/inventory.html"/>
		<add key="configJsonPath" value="TestData/config.json"/>
		<add key="fileParentPath" value="../../../"/>
	</appSettings>
</configuration>